h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../images/pattern.jpeg");
}

.section-heading {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    font-family: Helvetica;
    color: blue;
}

.bold {
    font-weight: bold;
}

#brushes {
    background-color: mediumspringgreen;   
}

#art-frames {
    background-color: lightcoral;   
}

#finnish-paint {
    background-color: skyblue;   
}